# R stuff
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Ignore all elements in subfolders called "data"
**/data/*

# Ignore Word files
*.doc
*.docx
# Do not ignore Word files in 'qualtrics' subfolders
!*/qualtrics/*.doc
!*/qualtrics/*.docx

# Ignore HTML files
*.html

# Ingore other files
*.aux
*.toc

# Ignore text files
*.rtf

# Ignor figures
*output/
